body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f5f5dc;
}


.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffb347;
  padding: 15px 30px;
}

.logo {
  font-weight: bold;
  background: #ffd27f;
  padding: 10px 15px;
}

nav a {
  margin-left: 20px;
  text-decoration: none;
  color: #000;
}


.page {
  padding: 40px;
  text-align: center;
}

.page h1 span {
  color: orange;
  font-style: italic;
}

.subtitle {
  font-size: 14px;
  margin-bottom: 30px;
}


.section-header {
  background: #ffd27f;
  display: inline-block;
  padding: 8px 20px;
  font-weight: bold;
  margin-bottom: 20px;
}


.cards {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
}

.card,
.food-card,
.hotel-card {
  background: #ffb703;
  padding: 15px;
  width: 250px;
  border-radius: 20px;
}

.card img,
.food-card img,
.hotel-card img {
  width: 100%;
  border-radius: 20px;
}


footer {
  background: #f0a040;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}

.card img,
.food-card img,
.hotel-card img {
  width: 100%;
  height: 180px;        
  object-fit: cover;    
  border-radius: 20px;
  display: block;
}
