* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f7f6dc;
}

/* HEADER */
.header {
  background-color: #ffb347;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
}

.logo {
  background-color: #ffd27f;
  padding: 15px 25px;
  font-weight: bold;
}

.nav a {
  margin-left: 20px;
  text-decoration: none;
  color: black;
  font-weight: 500;
}

/* TITLE */
.title {
  text-align: center;
  margin: 30px 0;
  font-size: 28px;
}

/* MAIN */
.container {
  display: flex;
  gap: 30px;
  padding: 30px;
}

/* LEFT */
.left {
  width: 40%;
}

.main-image {
  width: 100%;
  border-radius: 25px;
}

.left h2 {
  margin-top: 15px;
}

.left p {
  margin: 10px 0;
  font-size: 14px;
}

.left ul {
  margin-left: 20px;
  font-size: 14px;
}

/* RIGHT */
.right {
  width: 60%;
}

.right h2 {
  margin-bottom: 20px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.gallery img {
  width: 45%;
  height: 180px;
  border-radius: 25px;
  object-fit: cover;
}

/* FOOTER */
.footer {
  background-color: #f3a23a;
  color: white;
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icons img {
  width: 35px;
  margin-left: 15px;
}
